/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region COMMON and Utilities */
:root {
    --zoom-red: #f30a1c;
    --zoom-dark: #222222;
    --zoom-lgrey: #4a4a4a;
    --zoom-bg-lgrey-rgba: rgba(128, 128, 128, 0.5);
    --zoom-lgreen: #4bc800;
}

body {
    font-family: 'Internacional', 'Helvetica', 'Arial';
}

button{
    border: none;
}

a {
    text-decoration: none;
}

.d-flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

/* #endregion COMMON and Utilities */

/* #region MAIN */

#app-main {
    background: black;
    height: calc(100vh - 3rem);
    overflow-y: auto;
}

#float-menu {
    position: absolute;
    top: 1%;
    right: 0;
    z-index: 1000;
}

#float-menu button {
    color: white;
    background-color: var(--zoom-bg-lgrey-rgba);
    border-radius: 0.25rem;
    padding: 0.15rem;
    font-size: 0.65rem;
    cursor: pointer;
}

#float-menu .maximize {
    margin: 0 2rem 0 0.5rem;
}

.row {
    height: 100%;
    padding: 0.75rem 2rem;
    background-color: black;
    justify-content: center;
    align-items: center;
}

.col {
    width: calc(100% / 7);
    padding: 0.25rem;
}

.card {
    position: relative;
    align-items: center;
}

.card>img {
    max-width: 100%;
}

.fa-microphone-slash{
    color: var(--zoom-red);
}

.card p {
    font-size: 0.75rem;
    color: white;
    position: absolute;
    padding: 0.25rem;
    bottom: 4%;
    left: 0;
    background-color: var(--zoom-bg-lgrey-rgba);
}

/* #endregion MAIN */

/* #region FOOTER */
#app-footer {
    background: var(--zoom-dark);
    height: 3rem;
    justify-content: space-between;
}

#sources,
#main-menu,
#close-call {
    align-items: center;
}

#sources>div,
#main-menu>div,
#close-call>div {
    text-align: center;
    padding: 0.25rem 1rem 0.25rem 1rem;
}

#app-footer p {
    font-size: 0.60rem;
}

#app-footer,
#app-footer i {
    color: white;
    font-size: 1.3rem;
}

#share-screen a>i {
    color: var(--zoom-lgreen);
}

#end-meeting {
    background-color: var(--zoom-lgrey);
    padding: 1rem;
    color: var(--zoom-red);
    font-size: 0.75rem;
}

/* #endregion FOOTER */